
.wrapper{
    display: flex;
    flex-direction: column;
}

.add-todo-btns:last-child{
    display: flex;
    display: flex;
    justify-content: end;
}

form{
    mat-form-field{
        width: 100%;
    }
}
